  <div class="home-banner">
    <div class="d-flex flex-column bd-highlight mb-3 ml-4 d-flex justify-content-center">
      <h1 class="banner-text">Premium Shopify Businesses for Sale</h1>
      <div class="list">
        <li>
          <ol>Branded</ol>
          <ol>Branded</ol>
          <ol>Branded</ol>
        </li>
      </div>
    </div>
    <%= image_tag "home.png", class:"home-pic"%>
  </div>


  <div class="container">
    <div class="card-product p-2 flex-grow-1 bd-highligh">
      <%= image_tag "Store1.png" %>
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
        <div>
        <%= link_to "Book now", "#", class: "btn btn-flat" %>
        </div>
      </div>
    </div>


    <div class="card-product p-2 flex-grow-1 bd-highligh">
      <%= image_tag "Store1.png" %>
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>

    <div class="card-product p-2 flex-grow-1 bd-highligh">
      <%= image_tag "Store1.png" %>
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>

    <div class="card-product p-2 flex-grow-1 bd-highligh">
      <%= image_tag "Store1.png" %>
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>

    <div class="card-product p-2 flex-grow-1 bd-highligh">
      <%= image_tag "Store1.png" %>
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
    </ul>


  </div>
